* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  padding: 20px 0;
  color: crimson;
}

a {
  color: firebrick;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

section li img {
  max-width: 100%;
}


section ul  {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; /* aici am ramas*/
  list-style-type: none;
}

section ul li {
  max-width: 90%;
  max-height: 70%;
}

@media screen and (min-width: 768px) {
  section ul li {
    max-width: 45%;
    max-height: 50%;
    padding: 2%;
  }
}

p {
  text-align: center;
  padding-bottom: 50px;
}

footer {
  clear: both;
}